# 미국 대통령 평균 신장은 얼마일까?

## 0. NumPy import

In [1]:
import numpy as np

## 1. 파일 내용 저장 파이썬 리스트 변수 선언

In [2]:
order_list = []
name_list = []
height_list = []

## 2. 파일에 데이터 읽기( president_heights.csv )

In [3]:
with open( 'president_heights.csv', 'r' ) as f:
    line = f.readline() # 제목줄 제거
    line = f.readline()
    while line:
        data = line.split( ',' )
        order_list.append( data[ 0 ] )
        name_list.append( data[ 1 ] )
        height_list.append( int( data[ 2 ][ : 3 ] ) ) # 키 마지막 줄바꿈( \n ) 제거
        line = f.readline()

## 3. 읽은 데이터 확인( 처음 5개, 마지막 5개 )

In [4]:
order_list[ :5 ], order_list[ len( order_list ) - 5 : ]

(['1', '2', '3', '4', '5'], ['40', '41', '42', '43', '44'])

In [5]:
name_list[ :5 ], name_list[ len( name_list ) - 5 : ]

(['George Washington',
  'John Adams',
  'Thomas Jefferson',
  'James Madison',
  'James Monroe'],
 ['Ronald Reagan',
  'George H. W. Bush',
  'Bill Clinton',
  'George W. Bush',
  'Barack Obama'])

In [6]:
height_list[ :5 ], height_list[ len( height_list ) - 5: ]

([189, 170, 189, 163, 183], [185, 188, 188, 182, 185])

## 4. NumPy 배열 생성

### 4.1 전체 대통령 순번

In [7]:
order_array = np.array( order_list )
order_array

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '23', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44'], dtype='<U2')

In [8]:
order_array.ndim, order_array.shape, order_array.size, order_array.dtype

(1, (42,), 42, dtype('<U2'))

### 4.2 전체 대통령 이름

In [9]:
name_array = np.array( name_list )
name_array

array(['George Washington', 'John Adams', 'Thomas Jefferson',
       'James Madison', 'James Monroe', 'John Quincy Adams',
       'Andrew Jackson', 'Martin Van Buren', 'William Henry Harrison',
       'John Tyler', 'James K. Polk', 'Zachary Taylor',
       'Millard Fillmore', 'Franklin Pierce', 'James Buchanan',
       'Abraham Lincoln', 'Andrew Johnson', 'Ulysses S. Grant',
       'Rutherford B. Hayes', 'James A. Garfield', 'Chester A. Arthur',
       'Benjamin Harrison', 'William McKinley', 'Theodore Roosevelt',
       'William Howard Taft', 'Woodrow Wilson', 'Warren G. Harding',
       'Calvin Coolidge', 'Herbert Hoover', 'Franklin D. Roosevelt',
       'Harry S. Truman', 'Dwight D. Eisenhower', 'John F. Kennedy',
       'Lyndon B. Johnson', 'Richard Nixon', 'Gerald Ford',
       'Jimmy Carter', 'Ronald Reagan', 'George H. W. Bush',
       'Bill Clinton', 'George W. Bush', 'Barack Obama'], dtype='<U22')

In [10]:
name_array.ndim, name_array.shape, name_array.size, name_array.dtype

(1, (42,), 42, dtype('<U22'))

### 4.3 전체 대통령 신장

In [11]:
height_array = np.array( height_list )
height_array

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180,
       183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188,
       188, 182, 185])

In [12]:
height_array.ndim, height_array.shape, height_array.size, height_array.dtype

(1, (42,), 42, dtype('int32'))

## 5. 데이터에 대한 통계 / 집계 출력

In [13]:
print( '평균 신장             : {:6.2f}'.format( height_array.mean() ) ) # 평균 신장
print( '신장에 대한 표준편차  : {:6.2f}'.format( height_array.std() ) ) # 신장에 대한 표준 편차
print( '최소 신장 대통령 정보 : {:3d}( {:>2s} {:<22s})'.format( height_array.min(), 
                                                                order_array[ height_array.argmin() ],
                                                                name_array[ height_array.argmin() ] ) ) # 최소 신장 대통령 정보
print( '최고 신장 대통령 정보 : {:3d}( {:>2s} {:<22s})'.format( height_array.max(), 
                                                                order_array[ height_array.argmax() ],
                                                                name_array[ height_array.argmax() ] ) ) # 최고 신장 대통령 정보

평균 신장             : 179.74
신장에 대한 표준편차  :   6.93
최소 신장 대통령 정보 : 163(  4 James Madison         )
최고 신장 대통령 정보 : 193( 16 Abraham Lincoln       )

In [14]:
print( "신장에 대한 1사분위수 : {:6.2f}".format( np.percentile( height_array, 25 ) ) )
print( "신장에 대한 중앙값    : {:6.2f}".format( np.median( height_array ) ) )
print( "신장에 대한 3사분위수 : {:6.2f}".format( np.percentile( height_array, 75 ) ) )

신장에 대한 1사분위수 : 174.25
신장에 대한 중앙값    : 182.00
신장에 대한 3사분위수 : 183.00