In [29]:
import numpy as np

In [30]:
import array

In [31]:
import pandas as pd

In [45]:
import csv

In [73]:
fp=pd.read_csv('Floating_Population_2004.csv', 'r', encoding="UTF-8")
fp

       일자,"시간(1시간단위)","연령대(10세단위)","성별","시","군구","유동인구수"
0             20200401,"00","20","남성","서울","도봉구","21490"
1            20200401,"00","30","여성","서울","동대문구","27260"
2             20200401,"00","50","남성","서울","구로구","35670"
3             20200401,"01","30","여성","서울","강남구","52380"
4            20200401,"01","40","남성","서울","동대문구","28420"
...                                                  ...
215995        20200430,"22","40","여성","서울","성동구","22150"
215996       20200430,"22","50","여성","서울","서대문구","23270"
215997        20200430,"23","20","여성","서울","용산구","18570"
215998       20200430,"23","30","여성","서울","서대문구","21100"
215999        20200430,"23","40","남성","서울","강남구","45730"

[216000 rows x 1 columns]

In [74]:
fp.head()

  일자,"시간(1시간단위)","연령대(10세단위)","성별","시","군구","유동인구수"
0        20200401,"00","20","남성","서울","도봉구","21490"
1       20200401,"00","30","여성","서울","동대문구","27260"
2        20200401,"00","50","남성","서울","구로구","35670"
3        20200401,"01","30","여성","서울","강남구","52380"
4       20200401,"01","40","남성","서울","동대문구","28420"

In [75]:
fp.columns

Index(['일자,"시간(1시간단위)","연령대(10세단위)","성별","시","군구","유동인구수"'], dtype='object')

In [76]:
fp.values

array([['20200401,"00","20","남성","서울","도봉구","21490"'],
       ['20200401,"00","30","여성","서울","동대문구","27260"'],
       ['20200401,"00","50","남성","서울","구로구","35670"'],
       ...,
       ['20200430,"23","20","여성","서울","용산구","18570"'],
       ['20200430,"23","30","여성","서울","서대문구","21100"'],
       ['20200430,"23","40","남성","서울","강남구","45730"']], dtype=object)

In [77]:
fp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216000 entries, 0 to 215999
Data columns (total 1 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   일자,"시간(1시간단위)","연령대(10세단위)","성별","시","군구","유동인구수"  216000 non-null  object
dtypes: object(1)
memory usage: 1.6+ MB

In [78]:
fp.describe()

       일자,"시간(1시간단위)","연령대(10세단위)","성별","시","군구","유동인구수"
count                                             216000
unique                                            216000
top           20200430,"06","30","여성","서울","관악구","42430"
freq                                                   1

In [88]:
fp[["성별","유동인구"]].head(4)

KeyError: "None of [Index(['성별', '유동인구'], dtype='object')] are in the [columns]"

In [49]:
fp1=pd.read_csv('Floating_Population_2004.csv')
fp1.head()

         일자  시간(1시간단위)  연령대(10세단위)  성별   시    군구  유동인구수
0  20200401          0          20  남성  서울   도봉구  21490
1  20200401          0          30  여성  서울  동대문구  27260
2  20200401          0          50  남성  서울   구로구  35670
3  20200401          1          30  여성  서울   강남구  52380
4  20200401          1          40  남성  서울  동대문구  28420

In [59]:
for line in fp1:
    datalist=line.split(",")
    
    "일자".append(int(datalist[1]))
    "시간(1시간단위)".append(int(datalist[2]))
    "연령대(10세단위)".append(int(datalist[3]))
    "성별".append(int(datalist[4]))
    "군구".append(int(datalist[5]))
    "유동인구수".append(int(datalist[6]))
    
    ph.close()

AttributeError: 'str' object has no attribute 'append'

In [56]:
day=np.array(fp1[0], dtype=int)
time=np.array([1], dtype=int)
age=np.array([2],dtype=int)
sex=np.array([3], dtype=int)
local=np.array([5], dtype=str)
move=np.array([6],dtype=int)

KeyError: 0

In [48]:
for line in fp1:
    datalist=line.split(",")
    
    "일자".append(int(datalist[0]))
    "시간(1시간단위)".append(int(datalist[1]))
    "연령대(10세단위)".append(int(datalist[2]))
    "성별".append(int(datalist[3]))
    "군구".append(str(datalist[5]))
    "유동인구수".append(int(datalist[6]))
    
    fp.close()

AttributeError: 'str' object has no attribute 'append'

In [50]:
day=np.array(fp[0], dtype=int)
time=np.array([1], dtype=int)
age=np.array([2],dtype=int)
sex=np.array([3], dtype=int)
local=np.array([5], dtype=str)
move=np.array([6],dtype=int)

TypeError: '_io.TextIOWrapper' object is not subscriptable