In [1]:
import numpy as np
import pandas as pd

In [4]:
fp=pd.read_csv("Floating_Population_2004.csv", header=None)

In [5]:
fp.head()

          0          1           2   3   4     5      6
0        일자  시간(1시간단위)  연령대(10세단위)  성별   시    군구  유동인구수
1  20200401         00          20  남성  서울   도봉구  21490
2  20200401         00          30  여성  서울  동대문구  27260
3  20200401         00          50  남성  서울   구로구  35670
4  20200401         01          30  여성  서울   강남구  52380

In [6]:
fp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216001 entries, 0 to 216000
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       216001 non-null  object
 1   1       216001 non-null  object
 2   2       216001 non-null  object
 3   3       216001 non-null  object
 4   4       216001 non-null  object
 5   5       216001 non-null  object
 6   6       216001 non-null  object
dtypes: object(7)
memory usage: 11.5+ MB

In [7]:
#필요없는 '시'열 삭제 및 Dtype 변경.

In [16]:
fp.drop([4],axis=1, inplace=True)

In [21]:
fp

               0          1           2   3     5      6
0             일자  시간(1시간단위)  연령대(10세단위)  성별    군구  유동인구수
1       20200401         00          20  남성   도봉구  21490
2       20200401         00          30  여성  동대문구  27260
3       20200401         00          50  남성   구로구  35670
4       20200401         01          30  여성   강남구  52380
...          ...        ...         ...  ..   ...    ...
215996  20200430         22          40  여성   성동구  22150
215997  20200430         22          50  여성  서대문구  23270
215998  20200430         23          20  여성   용산구  18570
215999  20200430         23          30  여성  서대문구  21100
216000  20200430         23          40  남성   강남구  45730

[216001 rows x 6 columns]

In [36]:
fp.columns=['일자','시간(1시간단위)','연령대(10세단위)','성별','군구','유동인구수']

In [37]:
fp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216001 entries, 0 to 216000
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   일자          216001 non-null  object
 1   시간(1시간단위)   216001 non-null  object
 2   연령대(10세단위)  216001 non-null  object
 3   성별          216001 non-null  object
 4   군구          216001 non-null  object
 5   유동인구수       216001 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB