실습문제

1. 제공 되는 'president_heights.csv' 파일을 파이썬 파일 처리의 읽기 기능을 이용하여 NumPy 배열로 생성한 후 NumPy배열을 활용하여 DataFrame을 생성하고 Pandas가 제공하는 함수를 활용하여 분석한 결과를 jupyter notebook에 발표 및 제출 가능한 형태로 작성하여 제출한다.

# 미국 대통령 평균 신장은 얼마일까?

## 0. NumPy / Pandas import

In [1]:
import numpy as np
import pandas as pd

## 1. 파일 내용 저장 파이썬 리스트 변수 선언

In [2]:
order_list = []
name_list = []
height_list = []

## 2. 파일에 데이터 읽기( president_heights.csv )

In [3]:
with open( 'president_heights.csv', 'r' ) as f:
    line = f.readline() # 제목줄 제거
    line = f.readline()
    while line:
        data = line.split( ',' )
        order_list.append( data[ 0 ] )
        name_list.append( data[ 1 ] )
        height_list.append( int( data[ 2 ][ : 3 ] ) ) # 키 마지막 줄바꿈( \n ) 제거
        line = f.readline()

## 3. 읽은 데이터 확인( 처음 5개, 마지막 5개 )

In [4]:
order_list[ :5 ], order_list[ len( order_list ) - 5 : ]

(['1', '2', '3', '4', '5'], ['40', '41', '42', '43', '44'])

In [5]:
name_list[ :5 ], name_list[ len( name_list ) - 5 : ]

(['George Washington',
  'John Adams',
  'Thomas Jefferson',
  'James Madison',
  'James Monroe'],
 ['Ronald Reagan',
  'George H. W. Bush',
  'Bill Clinton',
  'George W. Bush',
  'Barack Obama'])

In [6]:
height_list[ :5 ], height_list[ len( height_list ) - 5: ]

([189, 170, 189, 163, 183], [185, 188, 188, 182, 185])

## 4. NumPy 배열 생성

### 4.1 전체 대통령 순번

In [7]:
order_array = np.array( order_list )
order_array

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '23', '25',
       '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36',
       '37', '38', '39', '40', '41', '42', '43', '44'], dtype='<U2')

In [8]:
order_array.ndim, order_array.shape, order_array.size, order_array.dtype

(1, (42,), 42, dtype('<U2'))

### 4.2 전체 대통령 이름

In [9]:
name_array = np.array( name_list )
name_array

array(['George Washington', 'John Adams', 'Thomas Jefferson',
       'James Madison', 'James Monroe', 'John Quincy Adams',
       'Andrew Jackson', 'Martin Van Buren', 'William Henry Harrison',
       'John Tyler', 'James K. Polk', 'Zachary Taylor',
       'Millard Fillmore', 'Franklin Pierce', 'James Buchanan',
       'Abraham Lincoln', 'Andrew Johnson', 'Ulysses S. Grant',
       'Rutherford B. Hayes', 'James A. Garfield', 'Chester A. Arthur',
       'Benjamin Harrison', 'William McKinley', 'Theodore Roosevelt',
       'William Howard Taft', 'Woodrow Wilson', 'Warren G. Harding',
       'Calvin Coolidge', 'Herbert Hoover', 'Franklin D. Roosevelt',
       'Harry S. Truman', 'Dwight D. Eisenhower', 'John F. Kennedy',
       'Lyndon B. Johnson', 'Richard Nixon', 'Gerald Ford',
       'Jimmy Carter', 'Ronald Reagan', 'George H. W. Bush',
       'Bill Clinton', 'George W. Bush', 'Barack Obama'], dtype='<U22')

In [10]:
name_array.ndim, name_array.shape, name_array.size, name_array.dtype

(1, (42,), 42, dtype('<U22'))

### 4.3 전체 대통령 신장

In [11]:
height_array = np.array( height_list )
height_array

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180,
       183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188,
       188, 182, 185])

In [12]:
height_array.ndim, height_array.shape, height_array.size, height_array.dtype

(1, (42,), 42, dtype('int32'))

## 5. DataFrame 생성

In [14]:
data = { 'order': order_array, 'name': name_array, 'height': height_array }
df = pd.DataFrame( data,
                   index = range( 1, order_array.size + 1 ) )
df

   order                    name  height
1      1       George Washington     189
2      2              John Adams     170
3      3        Thomas Jefferson     189
4      4           James Madison     163
5      5            James Monroe     183
6      6       John Quincy Adams     171
7      7          Andrew Jackson     185
8      8        Martin Van Buren     168
9      9  William Henry Harrison     173
10    10              John Tyler     183
11    11           James K. Polk     173
12    12          Zachary Taylor     173
13    13        Millard Fillmore     175
14    14         Franklin Pierce     178
15    15          James Buchanan     183
16    16         Abraham Lincoln     193
17    17          Andrew Johnson     178
18    18        Ulysses S. Grant     173
19    19     Rutherford B. Hayes     174
20    20       James A. Garfield     183
21    21       Chester A. Arthur     183
22    23       Benjamin Harrison     168
23    25        William McKinley     170
24    26      Theodore Roosevelt     178
25    27     William Howard Taft     182
26    28          Woodrow Wilson     180
27    29       Warren G. Harding     183
28    30         Calvin Coolidge     178
29    31          Herbert Hoover     182
30    32   Franklin D. Roosevelt     188
31    33         Harry S. Truman     175
32    34    Dwight D. Eisenhower     179
33    35         John F. Kennedy     183
34    36       Lyndon B. Johnson     193
35    37           Richard Nixon     182
36    38             Gerald Ford     183
37    39            Jimmy Carter     177
38    40           Ronald Reagan     185
39    41       George H. W. Bush     188
40    42            Bill Clinton     188
41    43          George W. Bush     182
42    44            Barack Obama     185

In [16]:
df.shape

(42, 3)

In [17]:
df.dtypes

order     object
name      object
height     int32
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 1 to 42
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   42 non-null     object
 1   name    42 non-null     object
 2   height  42 non-null     int32
dtypes: int32(1), object(2)
memory usage: 972.0+ bytes

## 6. 데이터에 대한 통계 / 집계 출력

In [18]:
df.describe()

           height
count   42.000000
mean   179.738095
std      7.015869
min    163.000000
25%    174.250000
50%    182.000000
75%    183.000000
max    193.000000

In [28]:
print( '평균 신장             : {:6.2f}'.format( df.height.mean() ) ) # 평균 신장
print( '신장에 대한 표준편차  : {:6.2f}'.format( df.height.std() ) ) # 신장에 대한 표준 편차

min_index = df.height.idxmin()
max_index = df.height.idxmax()

print( '최소 신장 대통령 정보 : {:3d}( {:>2s} {:<22s})'.format( df.loc[ min_index, 'height' ], 
                                                                df.loc[ min_index, 'order' ], 
                                                                df.loc[ min_index, 'name' ] ) ) # 최소 신장 대통령 정보
print( '최고 신장 대통령 정보 : {:3d}( {:>2s} {:<22s})'.format( df.loc[ max_index, 'height' ],
                                                                df.loc[ max_index, 'order' ],
                                                                df.loc[ max_index, 'name' ] ) ) # 최고 신장 대통령 정보

평균 신장             : 179.74
신장에 대한 표준편차  :   7.02
193 163
최소 신장 대통령 정보 : 163(  4 James Madison         )
최고 신장 대통령 정보 : 193( 16 Abraham Lincoln       )

In [34]:
print( "신장에 대한 1사분위수 : {:6.2f}".format( df.height.quantile( 0.25 ) ) )
print( "신장에 대한 중앙값    : {:6.2f}".format( df.height.median() ) )
print( "신장에 대한 3사분위수 : {:6.2f}".format( df.height.quantile( 0.75 ) ) )

신장에 대한 1사분위수 : 174.25
신장에 대한 중앙값    : 182.00
신장에 대한 3사분위수 : 183.00